body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

main {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#order-history {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.order-item {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    width: 300px;
    padding: 20px;
}

.order-item h2 {
    margin-top: 0;
}

.order-item p {
    margin: 10px 0;
}

.order-item button {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.order-item button:hover {
    background-color: #555;
}
